<section class="produnct-information">
	<div class="container">
		<div class="produnct-information__body">
			<h1 class="produnct-info__title produnct-info__title--mob">ДИВАН УГЛОВОЙ
				СЕНАТОР</h1>
			<div class="produnct-information__slider" data-aos="fade-up">
				<div class="produnct-information__slider-main swiper">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
								data-src="./img/product/slider-image.png" decoding="async" alt="" title="">
						</div>

					</div>
					<div class="nav-arrow nav-arrow--prev">
						<svg>
							<use xlink:href="#ego-svg-slider-arrow">
						</svg>
					</div>
					<div class="nav-arrow nav-arrow--next">
						<svg>
							<use xlink:href="#ego-svg-slider-arrow">
						</svg>
					</div>
				</div>
				<div class="produnct-information__slider-gallery swiper">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
								data-src="./img/product/slider-image.png" decoding="async" alt="" title="">
						</div>
						<div class="swiper-slide">
							<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
								data-src="./img/product/slider-image.png" decoding="async" alt="" title="">
						</div>
						<div class="swiper-slide">
							<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
								data-src="./img/product/slider-image.png" decoding="async" alt="" title="">
						</div>
					</div>
				</div>
			</div>

			<div class="produnct-information__info produnct-info">
				<h1 class="produnct-info__title" data-aos="fade-up">ДИВАН УГЛОВОЙ
					СЕНАТОР</h1>
				<div class="produnct-info__descr" data-aos="fade-up">
					<p>Комфортный и мягкий, он подчеркнет стиль помещения и подарит ему ощущение солидности и роскоши. А
						електрореклайн, подсветка на одном из подлокотников, USB зарядка и подстаканники, придают ему
						дополнительного удобства.</p>
				</div>
				<div class="produnct-info__colors">
					<a href="" class="produnct-info__color active" style="background-color: #C9BAB4;"></a>
					<a href="" class="produnct-info__color" style="background-color: #5D645C;"></a>
					<a href="" class="produnct-info__color" style="background-color: #E0E0E0;"></a>
				</div>
				<div class="produnct-info__sizes">
					<a href="" class="produnct-info__size active">160x200</a>
					<a href="" class="produnct-info__size">180x200</a>
				</div>
				<div class="produnct-info__prices">
					<div class="produnct-info__price-old">65 100 ₴</div>
					<div class="produnct-info__price-new">58 600 ₴</div>
				</div>
				<a href="#popup" class="produnct-info__buy button button--green popup-link">Заказать</a>
			</div>
		</div>
	</div>
</section>