<section class="product-tabs" data-aos="fade-up">
	<img
		class="bg-item"
		src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
		data-src="./img/bg-img/home-5.png"
		decoding="async"
		alt=""
		title=""
	/>
	<div class="container">
		<div class="product-tabs__body tabs">
			<div class="tabs__triggers">
				<a href="#Characteristics" class="tabs__triggers-item"
					>Характеристики</a
				>
				<a href="#Description" class="tabs__triggers-item">Описание</a>
			</div>
			<div class="tabs__content">
				<div id="Characteristics" class="tabs__content-item">
					<p>
						<b>EGO HOME</b> — це не просто бренд меблів, це результат 16 річного
						досвіду роботи компанії TOPMEBEL на українському та світовому
						ринках. Наш шлях почалався у 2005 році, коли наша, ще зовсім
						маленька компанія, здійснила першу поставку готових меблів з-за
						кордону. Йшли роки і з маленького імпортера меблів ми виросли до
						рівня групи компаній, закріпивши за собою провідні позиції та
						репутацію надійного партнера на українському меблевому ринку.
					</p>
					<p>
						<b>EGO HOME</b> — це не просто бренд меблів, це результат 16 річного
						досвіду роботи компанії TOPMEBEL на українському та світовому
						ринках. Наш шлях почалався у 2005 році, коли наша, ще зовсім
						маленька компанія, здійснила першу поставку готових меблів з-за
						кордону. Йшли роки і з маленького імпортера меблів ми виросли до
						рівня групи компаній, закріпивши за собою провідні позиції та
						репутацію надійного партнера на українському меблевому ринку.
					</p>
					<p>
						<b>EGO HOME</b> — це не просто бренд меблів, це результат 16 річного
						досвіду роботи компанії TOPMEBEL на українському та світовому
						ринках. Наш шлях почалався у 2005 році, коли наша, ще зовсім
						маленька компанія, здійснила першу поставку готових меблів з-за
						кордону. Йшли роки і з маленького імпортера меблів ми виросли до
						рівня групи компаній, закріпивши за собою провідні позиції та
						репутацію надійного партнера на українському меблевому ринку.
					</p>
					<ul>
						<li>asdsadsa</li>
						<li>asdsadsa</li>
						<li>asdsadsa</li>
						<li>asdsadsa</li>
					</ul>
					<ol>
						<li>sdsadsadfsa</li>
						<li>sdsadsadfsa</li>
						<li>sdsadsadfsa</li>
						<li>sdsadsadfsa</li>
					</ol>
				</div>
				<div id="Description" class="tabs__content-item">
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint,
						eaque! Animi vel commodi doloribus, asperiores minus consequuntur
						cum maiores modi sint cumque, maxime aliquid quas odio quasi dicta
						nesciunt vero.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
