<section class="product-characteristics">
	<img class="bg-item" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
		data-src="./img/bg-img/home-6.png" decoding="async" alt="" title="">
	<div class="container">
		<div class="product-characteristics__body">
			<div class="product-characteristics__video product-characteristics__video--enabled" data-aos="zoom-out">
				<a class="product-characteristics__video-link" href="https://youtu.be/X6_vgTzSSr0">
					<img class="product-characteristics__video-media" src="https://i.ytimg.com/vi/X6_vgTzSSr0/maxresdefault.jpg"
						alt="">
				</a>
				<button type="button" class="product-characteristics__video-btn">
					<svg>
						<use xlink:href="#ego-svg-play">
					</svg>
				</button>
			</div>
			<div class="product-characteristics__content">
				<h2 class="product-characteristics__title" data-aos="fade-up">ДИВАН УГЛОВОЙ
					СЕНАТОР</h2>
				<div class="product-characteristics__text" data-aos="fade-up">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
						dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
						ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
						nulla pariatur.</p>
				</div>
				<a href="" class="product-characteristics__download-btn button button--border">
					Загрузить характеристики
					<svg>
						<use xlink:href="#ego-svg-download">
					</svg>
				</a>
			</div>
		</div>
	</div>
</section>