@use "./helpers/mixins" as *;
@use "./helpers/vars" as *;

.page-seach {
	.catalog {
		.section-title {
			display: block;
			font-size: 48px;
			margin-bottom: 50px;
		}
		&__wrapper {
			grid-template-columns: auto;
		}
		&__filter {
			display: none;
		}
		&__body {
			grid-template-columns: repeat(4, 1fr);
			@include screen-xhl {
				grid-template-columns: repeat(2, 1fr);
			}
			@media (max-width: 440px) {
				grid-template-columns: auto;
			}
		}
		&__btn-filter {
			display: none;
		}
	}
}
.search__not-found {
	font-weight: 300;
	font-size: 36px;
	line-height: 1.3;
	color: #5d645c;
	margin-bottom: 50px;
}
