$screen-xs: 374px;
$screen-sm: 640px;
$screen-md: 767px;
$screen-xhl: 1080px;
$screen-xxl: 1600px;

// max-width: 374px
@mixin screen-xs {
	@media (max-width: #{$screen-xs}) {
		@content;
	}
}


// max-width: 640px
@mixin screen-sm {
	@media (max-width: #{$screen-sm}) {
		@content;
	}
}


// max-width: 767px
@mixin screen-md {
	@media (max-width: #{$screen-md}) {
		@content;
	}
}


// max-width: 1080px
@mixin screen-xhl {
	@media (max-width: #{$screen-xhl}) {
		@content;
	}
}


// max-width: 1600px
@mixin screen-xxl {
	@media (max-width: #{$screen-xxl}) {
		@content;
	}
}


// min-width: 374px
@mixin screen-xs-up {
	@media (min-width: #{$screen-xs}) {
		@content;
	}
}


// min-width: 641px
@mixin screen-sm-up {
	@media (min-width: #{$screen-sm + 1}) {
		@content;
	}
}


// min-width: 768px
@mixin screen-md-up {
	@media (min-width: #{$screen-md + 1}) {
		@content;
	}
}


// min-width: 1081px
@mixin screen-xhl-up {
	@media (min-width: #{$screen-xhl + 1}) {
		@content;
	}
}


// min-width: 1601px
@mixin screen-xxl-up {
	@media (min-width: #{$screen-xxl + 1}) {
		@content;
	}
}


@mixin font($font-size, $line-height: normal, $font-weight: normal, $letter-spacing: normal) {
	font-size: $font-size;
	
	@if $line-height==normal {
		// line-height: normal;
	} @else {
		line-height: $line-height;
	}
	
	@if $font-weight==normal {
		// font-weight: normal;
	} @else {
		font-weight: $font-weight;
	}
	
	@if $letter-spacing==normal {
		// letter-spacing: normal;
	} @else {
		letter-spacing: $letter-spacing;
	}
}