// colors
$color-white: #ffffff;
$color-black: #000000;

$color-base: #585858;
$color-green: #5d645c;
$color-pink-light: #c9bab4;
$color-grey-dark: #272b27;
$color-grey-light: #fbfbfb;

// fonts
$font-roboto: "Roboto", sans-serif;
$font-roboto-condensed: "Roboto Condensed", sans-serif;
