<section class="catalog-catalog catalog">
	<div class="container">
		<h1 class="section-title" data-aos="fade-up">@@title</h1>
		<div class="catalog__setings">
			<button type="button" class="catalog__btn-filter">
				<svg>
					<use xlink:href="#ego-svg-filter">
				</svg>
				Фильтр
				<span class="catalog__btn-filter-close"></span>
			</button>
		</div>
		<div class="catalog__wrapper">
			<div class="catalog__filter">
				<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
					data-src="img/catalog/filter.png" decoding="async" alt="" title="">
			</div>
			<div class="catalog__body">
				<div class="catalog__item" data-aos="fade-up" data-aos-delay="400">
					@@include('../template-parts/product-card.html')
				</div>
				<div class="catalog__item" data-aos="fade-up" data-aos-delay="500">
					@@include('../template-parts/product-card.html')
				</div>
				<div class="catalog__item" data-aos="fade-up" data-aos-delay="600">
					@@include('../template-parts/product-card.html')
				</div>
				<div class="catalog__item" data-aos="fade-up" data-aos-delay="400">
					@@include('../template-parts/product-card.html')
				</div>
				<div class="catalog__item" data-aos="fade-up" data-aos-delay="500">
					@@include('../template-parts/product-card.html')
				</div>
				<div class="catalog__item" data-aos="fade-up" data-aos-delay="600">
					@@include('../template-parts/product-card.html')
				</div>
				<div class="catalog__item" data-aos="fade-up" data-aos-delay="400">
					@@include('../template-parts/product-card.html')
				</div>
				<div class="catalog__item" data-aos="fade-up" data-aos-delay="500">
					@@include('../template-parts/product-card.html')
				</div>
				<div class="catalog__item" data-aos="fade-up" data-aos-delay="600">
					@@include('../template-parts/product-card.html')
				</div>
				<div class="catalog__item" data-aos="fade-up" data-aos-delay="400">
					@@include('../template-parts/product-card.html')
				</div>
				<div class="catalog__item" data-aos="fade-up" data-aos-delay="500">
					@@include('../template-parts/product-card.html')
				</div>

				<!-- @@include('../template-parts/product-card.html')
				@@include('../template-parts/product-card.html')
				@@include('../template-parts/product-card.html')
				@@include('../template-parts/product-card.html')
				@@include('../template-parts/product-card.html')
				@@include('../template-parts/product-card.html')
				@@include('../template-parts/product-card.html')
				@@include('../template-parts/product-card.html')
				@@include('../template-parts/product-card.html')
				@@include('../template-parts/product-card.html') -->
				<div class="catalog__load-more" data-aos="fade-up" data-aos-delay="600">
					<div class="catalog__load-more-img">
						<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
							data-src="img/catalog/load.svg" decoding="async" alt="" title="">
					</div>
					<span>Загрузить еще</span>
				</div>
				@@include('../template-parts/paggination.html')
			</div>
		</div>


		<div class="catalog__content">
			<div class="catalog__conten-title">Текст про диваны</div>
			<div class="catalog__conten-text">
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, perspiciatis veniam odit quod aperiam
					distinctio obcaecati omnis nobis natus maxime. In hic obcaecati doloremque corrupti ipsum, dolore quo maxime
					itaque. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat at consequatur possimus doloribus
					dolores eos molestiae fugit neque excepturi dolorum facilis earum sint numquam amet, suscipit cum animi
					necessitatibus. Officia!
					possimus doloribus
					dolores eos molestiae fugit neque excepturi dolorum facilis earum sint numquam amet, suscipit cum animi
					necessitatibus. Officia!
					itaque. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat at consequatur possimus doloribus
					dolores eos molestiae fugit neque excepturi dolorum facilis earum sint numquam amet, suscipit cum animi
					necessitatibus. Officia!
					possimus doloribus
					dolores eos molestiae fugit neque excepturi dolorum facilis earum sint numquam amet, suscipit cum animi
					necessitatibus. Officia!
					itaque. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat at consequatur possimus doloribus
					dolores eos molestiae fugit neque excepturi dolorum facilis earum sint numquam amet, suscipit cum animi
					necessitatibus. Officia!
					possimus doloribus
					dolores eos molestiae fugit neque excepturi dolorum facilis earum sint numquam amet, suscipit cum animi
					necessitatibus. Officia!
					itaque. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat at consequatur possimus doloribus
					dolores eos molestiae fugit neque excepturi dolorum facilis earum sint numquam amet, suscipit cum animi
					necessitatibus. Officia!
					possimus doloribus
					dolores eos molestiae fugit neque excepturi dolorum facilis earum sint numquam amet, suscipit cum animi
					necessitatibus. Officia!
					itaque. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat at consequatur possimus doloribus
					dolores eos molestiae fugit neque excepturi dolorum facilis earum sint numquam amet, suscipit cum animi
					necessitatibus. Officia!
					possimus doloribus
					dolores eos molestiae fugit neque excepturi dolorum facilis earum sint numquam amet, suscipit cum animi
					necessitatibus. Officia!
					itaque. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat at consequatur possimus doloribus
					dolores eos molestiae fugit neque excepturi dolorum facilis earum sint numquam amet, suscipit cum animi
					necessitatibus. Officia!
					possimus doloribus
					dolores eos molestiae fugit neque excepturi dolorum facilis earum sint numquam amet, suscipit cum animi
					necessitatibus. Officia!

				</p>
				<button class="more-btn" type="button">Читать полностью</button>
			</div>

		</div>
	</div>
</section>