<section class="contacts-address">
	<div class="container">
		<h2 class="section-title" data-aos="fade-up">Ближайшие салоны мебели</h2>
		<div class="contacts-address__body">
			<div class="contacts-address__item address-item" data-aos="fade-up">
				<div class="address-item__image">
					<img class="bg-item" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
						data-src="img/salons/contacts-img.jpg" decoding="async" alt="" title="">
				</div>
				<div class="address-item__row">
					<svg>
						<use xlink:href="#ego-svg-location">
					</svg>
					<span>Адрес: м. Львів, вул. Яворівська 22, ТЦ «Три слони», 1 поверх
					</span>
					<a href="">Як нас знайти</a>
				</div>
				<div class="address-item__row">
					<svg>
						<use xlink:href="#ego-svg-smartphone">
					</svg>
					<a href="tel:">Телефон: (068) 304-06-67</a>
				</div>
				<div class="address-item__row">
					<svg>
						<use xlink:href="#ego-svg-mail">
					</svg>
					<a href="mailto:">E-mail: egohome.lviv@gmail.com</a>
				</div>
				<div class="address-item__row">
					<svg>
						<use xlink:href="#ego-svg-clock">
					</svg>
					<span>Розклад роботи: пн-сб: з 10:00 до 19:00, нд: з 12:00 до 19:00</span>
				</div>

			</div>
			<div class="contacts-address__item address-item" data-aos="fade-up">
				<div class="address-item__image">
					<img class="bg-item" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
						data-src="img/salons/contacts-img.jpg" decoding="async" alt="" title="">
				</div>
				<div class="address-item__row">
					<svg>
						<use xlink:href="#ego-svg-location">
					</svg>
					<span>Адрес: м. Львів, вул. Яворівська 22, ТЦ «Три слони», 1 поверх
					</span>
					<a href="">Як нас знайти</a>
				</div>
				<div class="address-item__row">
					<svg>
						<use xlink:href="#ego-svg-smartphone">
					</svg>
					<a href="tel:">Телефон: (068) 304-06-67</a>
				</div>
				<div class="address-item__row">
					<svg>
						<use xlink:href="#ego-svg-mail">
					</svg>
					<a href="mailto:">E-mail: egohome.lviv@gmail.com</a>
				</div>
				<div class="address-item__row">
					<svg>
						<use xlink:href="#ego-svg-clock">
					</svg>
					<span>Розклад роботи: пн-сб: з 10:00 до 19:00, нд: з 12:00 до 19:00</span>
				</div>

			</div>
		</div>
	</div>
	</sectionc>