<section class="contacts-first-screen">
	<div class="contacts-first-screen__map">
		<iframe
			src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2573.6088391365315!2d23.90521941594237!3d49.83101663968341!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473ae0b86575c625%3A0xaddc927c0765196f!2z0KLRgNC4INCh0LvQvtC90Lg!5e0!3m2!1suk!2sua!4v1665306133595!5m2!1suk!2sua"
			allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	</div>
	<div class="contacts-first-screen__info">
		<div class="contacts-first-screen__info-body" data-aos="fade-up">
			<h1 class="contacts-first-screen__title">
				Контакты
			</h1>
			<div class="contacts-first-screen__phone">
				<svg>
					<use xlink:href="#ego-svg-smartphone">
				</svg>
				<a href="tel:0800334897">0-800-334-897</a>
				<p>Бесплатные звонки со стационарных и мобильных телефонов на территории Украины.</p>
			</div>
			<div class="contacts-first-screen__mail">
				<svg>
					<use xlink:href="#ego-svg-mail">
				</svg>
				<a href="mailto:info@egohome.com.ua">info@egohome.com.ua</a>
			</div>
		</div>
	</div>
</section>