<section class="about-philosophy">
	<div class="container">
		<h2 class="section-title" data-aos="fade-up">Філісофія EGO HOME</h2>
		<div class="about-philosophy__body">
			<div
				class="about-philosophy__item about-philosophy-item"
				data-aos="fade-up"
				data-aos-delay="0"
			>
				<div class="about-philosophy-item__image">
					<img
						src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
						data-src="./img/home/categories/category-4.png"
						decoding="async"
						alt=""
						title=""
					/>
				</div>
				<div class="about-philosophy-item__title">Сучасні технології</div>
				<div class="about-philosophy-item__text">
					<p>
						В EGO HOME ми постійно шукаємо новітні технологічні рішення для
						меблів, які зможуть покращити рівень комфорту до вищого рівню
					</p>
				</div>
			</div>
			<div
				class="about-philosophy__item about-philosophy-item"
				data-aos="fade-up"
				data-aos-delay="100"
			>
				<div class="about-philosophy-item__image">
					<img
						src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
						data-src="./img/home/categories/category-1.png"
						decoding="async"
						alt=""
						title=""
					/>
				</div>
				<div class="about-philosophy-item__title">Неповторний характер</div>
				<div class="about-philosophy-item__text">
					<p>
						Меблі EGO HOME поєднують в собі надзвичайний комфорт і ергономіку,
						зберігаючи при цьому свій неповторний характер
					</p>
				</div>
			</div>
			<div
				class="about-philosophy__item about-philosophy-item"
				data-aos="fade-up"
				data-aos-delay="200"
			>
				<div class="about-philosophy-item__image">
					<img
						src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
						data-src="./img/home/categories/category-5.png"
						decoding="async"
						alt=""
						title=""
					/>
				</div>
				<div class="about-philosophy-item__title">
					Баланс комфорту і дизайну
				</div>
				<div class="about-philosophy-item__text">
					<p>
						Наші меблі спроектовані з особливою увагою до індивідуальності і
						способу життя наших клієнтів
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
