<section class="home-categories">
	<img
		class="bg-item"
		src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
		data-src="./img/bg-img/home-1.png"
		decoding="async"
		alt=""
		title=""
	/>
	<div class="container">
		<div class="home-categories-list">
			<div class="category-item" data-aos="fade-up" data-aos-delay="400">
				<a href="./page-category.html" class="category-card">
					<img
						src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
						data-src="./img/home/categories/category-1.png"
						decoding="async"
						alt=""
						title=""
					/>
					<span>Диваны</span>
				</a>
			</div>
			<div class="category-item" data-aos="fade-up" data-aos-delay="500">
				<a href="./page-category.html" class="category-card">
					<img
						src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
						data-src="./img/home/categories/category-2.png"
						decoding="async"
						alt=""
						title=""
					/>
					<span>Кровати</span>
				</a>
			</div>
			<div class="category-item" data-aos="fade-up" data-aos-delay="600">
				<a href="./page-category.html" class="category-card">
					<img
						src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
						data-src="./img/home/categories/category-3.png"
						decoding="async"
						alt=""
						title=""
					/>
					<span>Матрасы</span>
				</a>
			</div>
			<div class="category-item" data-aos="fade-up" data-aos-delay="700">
				<a href="./page-category.html" class="category-card">
					<img
						src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
						data-src="./img/home/categories/category-4.png"
						decoding="async"
						alt=""
						title=""
					/>
					<span>Kресла</span>
				</a>
			</div>
			<div class="category-item" data-aos="fade-up" data-aos-delay="800">
				<a href="./page-category.html" class="category-card">
					<img
						src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
						data-src="./img/home/categories/category-5.png"
						decoding="async"
						alt=""
						title=""
					/>
					<span>Прочая мебель</span>
				</a>
			</div>
			<div class="category-item" data-aos="fade-up" data-aos-delay="900">
				<a href="./page-category.html" class="category-card">
					<img
						src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
						data-src="./img/home/categories/category-6.png"
						decoding="async"
						alt=""
						title=""
					/>
					<span>Прочая мебель</span>
				</a>
			</div>
		</div>
	</div>
</section>
