<section class="home-contact-form">
	<img class="bg-item" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
		data-src="img/bg-img/home-4.png" decoding="async" alt="" title="">
	<div class="container">
		<div class="home-contact-form__body">
			<h2 class="section-title" data-aos="fade-up">Остались вопросы?</h2>
			<p class="subtitle" data-aos="fade-up">Заполните форму и наш менеджер свяжется с Вами.</p>
			<form action="#" class="contact-form" data-aos="fade-up">
				<div class="contact-form__item ">
					<input class="required" type="text" name="name" id="" placeholder="Имя*">
				</div>
				<div class="contact-form__item">
					<input class="required" type="tel" name="phone" id="" placeholder="Номер телефона*">
				</div>
				<div class="contact-form__item">
					<button type="submit" class="button button--green">Оставить заявку</button>
				</div>
			</form>
		</div>
	</div>
</section>