<section class="home-benefits">
	<img class="bg-item" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
		data-src="img/bg-img/home-2.png" decoding="async" alt="" title="">
	<div class="container">
		<div class="home-benefits__body">
			<div class="home-benefits__row home-benefits-row" data-aos="fade-up">
				<div class="home-benefits-row__content">
					<h2 class="section-title">Инновации</h2>
					<div class="home-benefits-row__text">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
							dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
							ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
							fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
							mollit anim id est laborum.</p>
					</div>
					<a href="" class="home-benefits-row__link">
						Подробнее
						<span>
							<svg>
								<use xlink:href="#ego-svg-right-arrow">
							</svg>
						</span>
					</a>
				</div>
				<div class="home-benefits-row__image">
					<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
						data-src="img/home/benefits/benefits-1.png" decoding="async" alt="" title="">
				</div>
			</div>
			<div class="home-benefits__row home-benefits-row" data-aos="fade-up">
				<div class="home-benefits-row__content">
					<h2 class="section-title">Комфорт</h2>
					<div class="home-benefits-row__text">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
							dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
							ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
							fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
							mollit anim id est laborum.</p>
					</div>
					<a href="" class="home-benefits-row__link">
						Подробнее
						<span>
							<svg>
								<use xlink:href="#ego-svg-right-arrow">
							</svg>
						</span>
					</a>
				</div>
				<div class="home-benefits-row__image">
					<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
						data-src="img/home/benefits/benefits-2.png" decoding="async" alt="" title="">
				</div>
			</div>
			<div class="home-benefits__row home-benefits-row" data-aos="fade-up">
				<div class="home-benefits-row__content">
					<h2 class="section-title">Эстетика</h2>
					<div class="home-benefits-row__text">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
							dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
							ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
							fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
							mollit anim id est laborum.</p>
					</div>
					<a href="" class="home-benefits-row__link">
						Подробнее
						<span>
							<svg>
								<use xlink:href="#ego-svg-right-arrow">
							</svg>
						</span>
					</a>
				</div>
				<div class="home-benefits-row__image">
					<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
						data-src="img/home/benefits/benefits-3.png" decoding="async" alt="" title="">
				</div>
			</div>
		</div>
	</div>
</section>