<section class="home-instagram-slider">
	<div class="container">
		<div class="home-instagram-slider__body">
			<h2 class="section-title" data-aos="fade-up">Мы в инстаграм</h2>
			<div class="home-instagram-swiper swiper" data-aos="fade-up">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<a href="#" class="home-instagram-slide-image">
							<img
								src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
								data-src="./img/home/instagram-slider/slide-1.png"
								decoding="async"
								alt=""
								title=""
							/>
						</a>
					</div>
					<div class="swiper-slide">
						<a href="#" class="home-instagram-slide-image">
							<img
								src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
								data-src="./img/home/instagram-slider/slide-2.png"
								decoding="async"
								alt=""
								title=""
							/>
						</a>
					</div>

					<div class="swiper-slide">
						<a href="#" class="home-instagram-slide-image">
							<img
								src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
								data-src="./img/home/instagram-slider/slide-3.png"
								decoding="async"
								alt=""
								title=""
							/>
						</a>
					</div>
				</div>
				<div class="swiper-pagination"></div>
			</div>
		</div>
	</div>
</section>
