<section class="home-slider">

	<div class="home-slider-swiper swiper">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<div class="slide">
					<div class="slide-content slide-content--left slide-content--center">
						<h2 class="slide-content__title" data-aos="fade-up">Про компанію</h2>
						<p class="slide-content__subtitle" data-aos="fade-up" data-aos-delay="300">EGO HOME — меблі, які говорять
							про Ваш смак...</p>
						<div class="button-wrapper" data-aos="fade-up" data-aos-delay="600">
							<a href="#" class="button">перейти</a>
						</div>

					</div>
					<div class="slide-image">
						<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
							data-src="img/home/slider/slide.jpg" decoding="async" alt="" title="">
					</div>
				</div>
			</div>



		</div>
		<div class="swiper-pagination"></div>
		<div class="nav-arrow nav-arrow--prev">
			<svg>
				<use xlink:href="#ego-svg-slider-arrow">
			</svg>
		</div>
		<div class="nav-arrow nav-arrow--next">
			<svg>
				<use xlink:href="#ego-svg-slider-arrow">
			</svg>
		</div>

	</div>
</section>