<div class="container">
	<ul class="breadcrumbs" itemscope="" itemtype="">
		<li itemprop="itemListElement" itemscope="" itemtype="">
			<a href="" itemid="" itemscope="" itemtype="" itemprop="item">
				<span itemprop="name">Home</span>
			</a>
			<meta itemprop="position" content="1">
		</li>

		<li itemprop="itemListElement" itemscope="" itemtype="">
			<a href="" itemid="" itemscope="" itemtype="" itemprop="item">
				<span itemprop="name">Сatalog</span>
			</a>
			<meta itemprop="position" content="2">
		</li>

		<li itemprop="itemListElement" itemscope="" itemtype="">
			<span itemid="" itemtype="" itemscope="" itemprop="item">
				<span itemprop="name">Product</span>
			</span>
			<meta itemprop="position" content="3">
		</li>
	</ul>
</div>