<section class="carousel-goods">
	<div class="container">
		<div class="carousel-goods__body">
			<h2 class="section-title" data-aos="fade-up">@@title</h2>
			<div class="carousel-goods-swiper swiper" data-aos="fade-up">
				<div class="swiper-wrapper">
					<div class="swiper-slide" data-aos="fade-up" data-aos-delay="600">
						@@include('./product-card.html')
					</div>
					<div class="swiper-slide" data-aos="fade-up" data-aos-delay="700">
						@@include('./product-card.html')
					</div>
					<div class="swiper-slide" data-aos="fade-up" data-aos-delay="800">
						@@include('./product-card.html')
					</div>
					<div class="swiper-slide" data-aos="fade-up" data-aos-delay="900">
						@@include('./product-card.html')
					</div>
					<div class="swiper-slide" data-aos="fade-up" data-aos-delay="1000">
						@@include('./product-card.html')
					</div>
				</div>
				<div class="swiper-pagination"></div>
			</div>
			<div class="nav-arrow nav-arrow--prev">
				<svg>
					<use xlink:href="#ego-svg-slider-arrow">
				</svg>
			</div>
			<div class="nav-arrow nav-arrow--next">
				<svg>
					<use xlink:href="#ego-svg-slider-arrow">
				</svg>
			</div>
		</div>

	</div>
</section>