<header class="ego-header lock-padding ego-header--action lock-padding">
	<div class="ego-header-top-action">
		<div class="container container--big">
			<p>Сезонні знижки до <b>-50%</b></p>
		</div>
	</div>

	<div class="ego-header-top lock-padding">
		<div class="container container--big">
			<div class="ego-header-top__wrapper">
				<div class="ego-header-top__left">
					<div class="search-form">
						<button type="button" class="search-form__icon">
							<svg>
								<use xlink:href="#ego-svg-search">
							</svg>
						</button>
						<form action="#" class="search-form__item">
							<span class="search-form__item-shadow"></span>
							<button type="button" class="search-form__btn">
								<svg>
									<use xlink:href="#ego-svg-search">
								</svg>
							</button>
							<input type="text" name="form" class="search-form__input" placeholder="Поиск">
						</form>
					</div>
					<a href="#" class="ego-header-top__phone">
						<svg>
							<use xlink:href="#ego-svg-phone">
						</svg>
					</a>
					<div class="ego-header-top__lang lang">
						<button type="button" class="lang__current">
							<span>UA</span>
							<span class="lang__icon">
								<svg>
									<use xlink:href="#ego-svg-lang-arrow">
								</svg>
							</span>
						</button>
						<ul class="lang__list">
							<li><a href="">EN</a></li>
						</ul>
					</div>
				</div>
				<div class="ego-header-top__center">
					<a href="/index.html" class="ego-header-top__logo"><img src="img/logo.svg" alt=""></a>
				</div>
				<div class="ego-header-top__right">
					<a href="tel:0800334897" class="ego-header-top__phone">
						<svg>
							<use xlink:href="#ego-svg-phone">
						</svg>
						0 800 000 000
					</a>
					<a href="#" class="ego-header-top__cart">
						<span class="ego-header-top__cart-counter">1</span>
						<svg>
							<use xlink:href="#ego-svg-cart">
						</svg>
					</a>
					@@include('./mobile-menu.html')

				</div>
			</div>
		</div>
	</div>

	<div class="ego-header-bottom">
		<nav class="container container--big">
			<ul class="ego-header-menu">
				<li><span>Каталог</span>
					<ul>
						<li>
							<ul>
								<li><a href="#">Дивани</a></li>
								<li><a href="#">Кутові дивани</a></li>
								<li><a href="#">Прямі дивани</a></li>
								<li><a href="#">Реклайнери</a></li>
							</ul>
						</li>
						<li>
							<ul>
								<li><a href="#">Крісла</a></li>
								<li><a href="#">Крісла тип 1</a></li>
								<li><a href="#">Крісла тип 2</a></li>
								<li><a href="#">Крісла тип 3</a></li>
							</ul>
						</li>
						<li>
							<ul>
								<li><a href="#">Ліжка</a></li>
								<li><a href="#">Ліжка тип 1</a></li>
								<li><a href="#">Ліжка тип 2</a></li>
								<li><a href="#">Ліжка тип 3</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li><a href="/page-about.html">О бренде</a></li>
				<li><span>Покупателям</span>
					<ul>
						<li>
							<ul>
								<li><a href="#">Дивани</a></li>
								<li><a href="#">Кутові дивани</a></li>
								<li><a href="#">Прямі дивани</a></li>
								<li><a href="#">Реклайнери</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li><a href="/page-salons.html">Салоны</a></li>
				<li><a href="/page-contacts.html">Контакты</a></li>
			</ul>
		</nav>
	</div>
</header>