<section class="information">
	<img class="bg-item" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
		data-src="img/bg-img/home-1.png" decoding="async" alt="" title="">
	<img class="bg-item" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
		data-src="img/bg-img/home-2.png" decoding="async" alt="" title="">
	<div class="container">
		<div class="information__body">
			<div class="information__row information__row--with-image" data-aos="fade-up">
				<div class="information__content">
					<h2 class="section-title">
						Инновации
					</h2>
					<p><b>EGO HOME</b> — це не просто бренд меблів, це результат 16 річного досвіду роботи компанії TOPMEBEL на
						українському та світовому ринках. Наш шлях почалався у 2005 році, коли наша, ще зовсім маленька компанія,
						здійснила першу поставку готових меблів з-за кордону. Йшли роки і з маленького імпортера меблів ми виросли
						до рівня групи компаній, закріпивши за собою провідні позиції та репутацію надійного партнера на
						українському меблевому ринку.</p>
					<p><b>EGO HOME</b> — це не просто бренд меблів, це результат 16 річного досвіду роботи компанії TOPMEBEL на
						українському та світовому ринках. Наш шлях почалався у 2005 році, коли наша, ще зовсім маленька компанія,
						здійснила першу поставку готових меблів з-за кордону. Йшли роки і з маленького імпортера меблів ми виросли
						до рівня групи компаній, закріпивши за собою провідні позиції та репутацію надійного партнера на
						українському меблевому ринку.</p>
					<p><b>EGO HOME</b> — це не просто бренд меблів, це результат 16 річного досвіду роботи компанії TOPMEBEL на
						українському та світовому ринках. Наш шлях почалався у 2005 році, коли наша, ще зовсім маленька компанія,
						здійснила першу поставку готових меблів з-за кордону. Йшли роки і з маленького імпортера меблів ми виросли
						до рівня групи компаній, закріпивши за собою провідні позиції та репутацію надійного партнера на
						українському меблевому ринку.</p>
					<ul>
						<li>asdsadsa</li>
						<li>asdsadsa</li>
						<li>asdsadsa</li>
						<li>asdsadsa</li>
					</ul>
					<ol>
						<li>sdsadsadfsa</li>
						<li>sdsadsadfsa</li>
						<li>sdsadsadfsa</li>
						<li>sdsadsadfsa</li>
					</ol>
					<p>
						<br><br>

						З роками ми почали краще розуміти як можемо зробити Ваше життя яскравіше, ми навчилися втілювати у
						помешканні супер комфортне середовище, що буде гармонійно доповнювати Вас.
						<br><br>

						Саме тому ми заснували EGO HOME - новий бренд меблів, що поєднують в собі бездоганне технічне виконання,
						комфорт і ергономіку, зберігаючи при цьому свій неповторний характер
					</p>
				</div>
				<div class="information__image">
					<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
						data-src="img/home/benefits/benefits-1.png" decoding="async" alt="" title="">
				</div>
			</div>
			<div class="information__row" data-aos="fade-up">
				<div class="information__content">
					<h2 class="section-title">
						Инновации
					</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
						dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
						ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
						nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
						anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
						incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
						laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
						esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
						qui officia deserunt mollit anim id est laborum.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>