<div id="popup" class="popup">
	<div class="popup__body">
		<div class="popup__content">
			<a href="" class="popup__close close-popup"><span>×</span></a>
			<div class="popup__title">Оформление заказа</div>
			<form action="#" class="popup-form popup-inner">
				<div class="popup-inner__form">
					<div class="popup-inner-form">
						<div class="popup-form__item ">
							<input class="required" type="text" name="name" id="" placeholder="Имя*">
						</div>
						<div class="popup-form__item">
							<input class="required" type="tel" name="phone" id="" placeholder="Номер телефона*">
						</div>
						<div class="popup-form__item">
							<input class="required" type="mail" name="mail" id="" placeholder="E-mail">
						</div>
					</div>
					<a href="" class="popup__close close-popup">Продожить покупки <svg>
							<use xlink:href="#ego-svg-right-arrow">
						</svg></a>
				</div>
				<div class="popup-inner__info">
					<div class="popup-inner__info-products">
						<div class="popup-info-product">
							<div class="popup-inner__info-title">Диван угловой Сенатор</div>
							<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
								data-src="img/product/slider-image.png" decoding="async" alt="" title="">
							<ul>
								<li>Характеристики: <span>123</span></li>
								<li>Характеристики: <span>123</span></li>
								<br>
								<li>Количество: <span>1</span></li>
								<li>Цена: <span>58 600р</span></li>
							</ul>
							<button class="popup-info-product__remove" type="button">Удалить</button>
						</div>
						<div class="popup-info-product">
							<div class="popup-inner__info-title">Диван угловой Сенатор</div>
							<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
								data-src="img/product/slider-image.png" decoding="async" alt="" title="">
							<ul>
								<li>Характеристики: <span>123</span></li>
								<li>Характеристики: <span>123</span></li>
								<br>
								<li>Количество: <span>1</span></li>
								<li>Цена: <span>58 600р</span></li>
							</ul>
							<button class="popup-info-product__remove" type="button">Удалить</button>
						</div>
					</div>
					<div class="popup-inner__info-price">Стоимость товаров:<span>58 600 ₴ </span></div>
					<button type="submit" class="button button--green">Заказать</button>

			</form>
		</div>
	</div>
</div>