<div class="product-card">
	<div class="product-card__info">
		<!-- <div class="product-card__indicator product-card__indicator--light">Новинка</div> -->
		<div class="product-card__indicator product-card__indicator--dark">
			Акция
		</div>
		<!-- <a href="#12121" class="product-card__like">
			<svg>
				<use xlink:href="#ego-svg-like-icon">
			</svg>
		</a> -->
	</div>
	<a href="./page-product.html" class="product-card__image">
		<img
			src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
			data-src="./img/home/categories/category-1.png"
			decoding="async"
			alt=""
			title=""
		/>
	</a>
	<a href="./page-product.html" class="product-card__name">
		Диван угловой Сенатор
	</a>
	<div class="product-card__prices">
		<span class="product-card__price-old">65 100 ₴</span>
		<span class="product-card__price-new">58 600 ₴</span>
	</div>
	<a href="./page-product.html" class="product-card__buy button button--border"
		>Заказать</a
	>
</div>
