<!DOCTYPE html>
<html lang="ua">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
		/>
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Ego Home</title>
		<meta property="og:title" content="Ego Home" />
		<meta property="og:image" content="./img/icon.png" />

		<link rel="icon" type="image/x-icon" href="./img/favicon.ico" />
		<meta property="og:description" content="Ego Home" />

		<link rel="stylesheet" href="./css/style.min.css" />
		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />

		<meta name="robots" content="noindex, nofollow" />
	</head>

	<body class="wrapper">
		@@include('../template-parts/header.html')
		@@include('../template-parts/mobile-menu.html')
	</body>
</html>
