<section class="salons-card">
	<div class="container">
		<h1 class="section-title" data-aos="fade-up">
			Cалоны мебели EGO HOME
		</h1>
		<div class="salons-card__body">
			<div class="salons-card__item salons-card-item" data-aos="fade-up">
				<div class="salons-card-item__image">
					<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
						data-src="img/salons/salons-img.jpg" decoding="async" alt="" title="">
				</div>
				<div class="salons-card-item__info">
					<div class="salons-card-item__city">Львів</div>
					<div class="salons-card-item__name">ТЦ «Три слони»</div>
					<p>Яворівська 22, ТЦ «Три слони», 1 поверх</p>
					<p>пн-сб: 10:00 — 19:00 <br>
						нд: 12:00 — 19:00</p>
					<a href="#">Як нас знайти</a>
				</div>
			</div>
			<div class="salons-card__item salons-card-item" data-aos="fade-up">
				<div class="salons-card-item__image">
					<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
						data-src="img/salons/salons-img.jpg" decoding="async" alt="" title="">
				</div>
				<div class="salons-card-item__info">
					<div class="salons-card-item__city">Львів</div>
					<div class="salons-card-item__name">ТЦ «Три слони»</div>
					<p>Яворівська 22, ТЦ «Три слони», 1 поверх</p>
					<p>пн-сб: 10:00 — 19:00 <br>
						нд: 12:00 — 19:00</p>
					<a href="#">Як нас знайти</a>
				</div>
			</div>
		</div>
	</div>
</section>